<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li>
                <a href="#">Mario Carlos Chita</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Item</a></li>
        </ul>

    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="uk-child-width-expand@s uk-text-center tamanho" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
   
          Adicionar Funcionarios
          <br>
         <span class="uk-margin-small-right" uk-icon="plus"></span>

        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
         Listar Funcionarios
        <br>
        <span class="uk-margin-small-right" uk-icon="list"></span>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Configurações
        <br>
        <span class="uk-margin-small-right" uk-icon="cog"></span>
        </div>
    </div>
</div>



